<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge"
        http-equiv="X-UA-Compatible">
  <title>Add Events</title>
  <meta content="width=device-width, initial-scale=1"
        name="viewport">
  <%include ./headers/head.ejs %>
</head>
<body>
  <header>
    <%include ./headers/header.ejs %>
  </header>
  <h1><%= title %></h1>
  <form action="/addEvents.ejs"
        id="addEventForm"
        method="post"
        name="form1">
    <div>
      <span class="formdiv">Event Name (Optional):</span> <input id="ename"
           name="ename"
           placeholder="Event Name (Optional)"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event Description (Optional):</span> <input id="edesc"
           name="edesc"
           placeholder="Event Description (Optional)"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event Place (Optional):</span> <input id="eplace"
           name="eplace"
           placeholder="Event Place (Optional)"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event Start Time:</span> <input id="stime"
           name="stime"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event End Time:</span> <input id="etime"
           name="etime"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event Start Date:</span> <input id="sedate"
           name="sedate"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event End Date:</span> <input id="edate"
           name="edate"
           type="text">
    </div><button id="searchBtn"
          type="submit"
          value="Search">Search</button>
  </form>
  <script>
  $('#stime').timepicker();
  $('#etime').timepicker();
  $('#sedate').datepicker();
  $('#edate').datepicker();
  </script>
</body>
</html>
