<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Check Free</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="./js/main.js"></script>
</head>
<body>
    <header><% include ./headers/header.ejs %></header>
    <h1><%= title %></h1>
    <form name="form3" method="GET" action="/checkFree.ejs">
        <div>Event Start Time
            <input type="time" id="stime" name="stime"></div>
        <div>Event End Time
            <input type="time" id="etime" name="etime"></div>
        <div>Event Start Date
            <input type="date" id="sedate" name="sedate"></div>
        <div>Event End Date
            <input type="date" id="edate" name="edate"></div>
        <div><input type="submit" value="Check Availability"></div>
    </form>
    <div>
    <% if (results) { %>
        <% for (var result in results) { %>
            <div>Busy from: <%= results[result].start %></div>
            <div>to: <%= results[result].end %><br /><br /></div>
        <% } %>
    <% } %>
    </div>
</body>
</html>