<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Check Free</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="./js/main.js"></script>
</head>
<body>
    <header><% include ./headers/header.ejs %></header>
    <h1><%= title %></h1>
    <form name="form3" method="GET" action="/checkFree.ejs">
        <div><span class="formdiv">Event Start Time </span>
            <input type="time" id="stime" name="stime"></div>
        <div><span class="formdiv">Event End Time </span>
            <input type="time" id="etime" name="etime"></div>
        <div><span class="formdiv">Event Start Date </span>
            <input type="date" id="sedate" name="sedate"></div>
        <div><span class="formdiv">Event End Date </span>
            <input type="date" id="edate" name="edate"></div>
        <div><button type="submit" value="Check Availability">Check Availability</button></div>
    </form>
    <div class="resultsSection">
    <% if (results) { %>
        <% for (var result in results) { %>
            <div><span class="resultsInfo">Busy from: </span><%= new Date(results[result].start) %></div>
            <div><span class="resultsInfo">to: </span><%= new Date(results[result].end) %><br /><br /></div>
        <% } %>
    <% } %>
    </div>
</body>
</html>