<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge"
        http-equiv="X-UA-Compatible">
  <title>Check Free</title>
  <meta content="width=device-width, initial-scale=1"
        name="viewport"><%include ./headers/head.ejs %>
</head>
<body>
  <header>
    <%include ./headers/header.ejs %>
  </header>
  <h1><%= title %></h1>
  <form action="/checkFree.ejs"
        id="checkForm"
        method="get"
        name="form3">
    <div>
      <span class="formdiv">Event Start Time</span> <input id="stime"
           name="stime"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event End Time</span> <input id="etime"
           name="etime"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event Start Date</span> <input id="sedate"
           name="sedate"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event End Date</span> <input id="edate"
           name="edate"
           type="text">
    </div>
    <div>
      <button type="submit"
           value="Check Availability">Check Availability</button>
    </div>
  </form>
  <div class="resultsSection">
    <script id="results"
         src="/templates/checkFreeTemp.ejs"
         type="text/x-template"></script>
  </div>
  <script>
  $('#stime').timepicker();
  $('#etime').timepicker();
  $('#sedate').datepicker();
  $('#edate').datepicker();
  </script>
</body>
</html>
