<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge"
        http-equiv="X-UA-Compatible">
  <title>Check Free</title>
  <meta content="width=device-width, initial-scale=1"
        name="viewport">
  <link href="./css/main.css"
        media="screen"
        rel="stylesheet"
        type="text/css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="./js/main.js"></script>
  <script src="../js/ejs.min.js"
        type="text/javascript"></script>
</head>
<body>
  <header>
    <%include ./headers/header.ejs %>
  </header>
  <h1><%= title %></h1>
  <form action="/checkFree.ejs"
        id="checkForm"
        method="get"
        name="form3">
    <div>
      <span class="formdiv">Event Start Time</span> <input id="stime"
           name="stime"
           type="time">
    </div>
    <div>
      <span class="formdiv">Event End Time</span> <input id="etime"
           name="etime"
           type="time">
    </div>
    <div>
      <span class="formdiv">Event Start Date</span> <input id="sedate"
           name="sedate"
           type="date">
    </div>
    <div>
      <span class="formdiv">Event End Date</span> <input id="edate"
           name="edate"
           type="date">
    </div>
    <div>
      <button type="submit"
           value="Check Availability">Check Availability</button>
    </div>
  </form>
  <div class="resultsSection">
    <script id="results"
         src="/templates/checkFreeTemp.ejs"
         type="text/x-template"></script>
  </div>
</body>
</html>
