<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge"
        http-equiv="X-UA-Compatible">
  <title>Search Events</title>
  <meta content="width=device-width, initial-scale=1"
        name="viewport">
        <%include ./headers/head.ejs %>
</head>
<body>
  <header>
    <%include ./headers/header.ejs %>
  </header>
  <h1><%= title %></h1>
  <form action="/searchEvents.ejs"
        id="searchForm"
        method="get"
        name="form2">
    <div>
      <span class="formdiv">Event Name (Optional)</span> <input id="ename"
           name="ename"
           placeholder="Event Name (Optional)"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event Start Time</span> <input id="stime"
           name="stime"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event End Time</span> <input id="etime"
           name="etime"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event Start Date</span> <input id="sedate"
           name="sedate"
           type="text">
    </div>
    <div>
      <span class="formdiv">Event End Date</span> <input id="edate"
           name="edate"
           type="text">
    </div>
    <div>
      <button type="submit"
           value="Search">Search</button>
    </div>
  </form>
  <div>
    <%include ./footers/results.ejs %>
    <script id="results"
         src="/templates/results.ejs"
         type="text/x-template"></script>
  </div>
  <script>
  $('#stime').timepicker();
  $('#etime').timepicker();
  $('#sedate').datepicker();
  $('#edate').datepicker();</script>
</body>
</html>
