<div class="resultsSection">
    <% if (results) { %>
        <% for (var result in results) { %>
            <div><span class="resultsInfo">Busy from: </span><%= new Date(results[result].start) %></div>
            <div><span class="resultsInfo">to: </span><%= new Date(results[result].end) %><br /><br /></div>
        <% } %>
    <% } %>
</div>