<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="something">
            <div class="Calendar">
                <a href="../calendar">Calendar</a>
            </div>
            <div class="addPg">
                <a href="../">Add Event</a>
            </div>
            <div class="checkAvailPg">
                <a href="../checkFree">Check Availability</a>
            </div>
            <div class="searchPg">
                <a href="../search">Search Events</a>
            </div>
        </div>
    </div>
</nav>