<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header" style="display: flex; justify-content: space-around; border: 2px solid black; font-size: 1.5em; box-shadow: 0px 0px 5px 5px rgb(117, 117, 248), inset 0px 0px 5px 5px cyan; padding: 5px; border-radius: 10px; background-color:antiquewhite;">
            <div class="addPg">
                <a href="../calendarPg.ejs">Add Event</a>
            </div>
            <div class="checkAvailPg">
                <a href="../checkFree.ejs">Check Availability</a>
            </div>
            <div class="searchPg">
                <a href="../searchEvents.ejs">Search Events</a>
            </div>
        </div>
    </div>
</nav>