<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="addPg"><a href="../calendarPg.ejs">Add Event</a></div>
            <div class="checkAvailPg"><a href="../checkFree.ejs">Check Availability</a></div>
            <!-- <div class="deletePg"><a href="../deletePg.ejs">Delete Event</a></div> -->
            <div class="searchPg"><a href="../searchEvents.ejs">Search Events</a></div>
        </div>
    </div>
</nav>